<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/chats.css">
  <title>Chats</title>
</head>
<body>
  <div class="container">
    <div class="individual-chat-section">
      <h1>Chats</h1>
      <div class="create-chat-section">
        <input id="create-chat-input" name="other-person" placeholder="Enter name or email">
        <button id="create-chat-button">Create</button>
      </div>

      <div class="display-chats">
        <% if(user.individualChats) { %>
          <% for(let chat of user.individualChats) { %>
            <div class="chat-item" data-email="<%= chat.otherPersonEmail %>" data-chatid="<%= chat.chatId %>">
              <span><%= chat.otherPersonName %></span>
            </div>       
          <% } %>
        <% } else { %>
          <p>No chats available.</p>
        <% } %>
      </div>
    </div>

    <div class="messages-section">
      <div class="display-chat-section">
        <div class="receiver-info-header">
          <span class="receiver-name">No chat open..!!</span>
        </div>
        <div class="display-messages"></div>
      </div>

      <div class="send-message-section">
        <input id="send-message-input">
        <button id="send-message-button">Send</button>
      </div>
    </div>
  </div>

  <script src="/socket.io/socket.io.js"></script>
  <script>
    const userId = "<%= user._id %>"
    const userName = "<%= user.name %>"
  </script>
  <script src="js/chats.js"></script>
</body>
</html>